extends ../layouts/default
include ../mixins/user-login

block css
  style.
    .site-header .logo {
      opacity: 0;
      animation: apparate 2s 1s;
      -webkit-animation: apparate 2s 1s;
    }

block content
  script#user_photo_template(type="text/x-handlebars-template")
    | {{#each this}}
    li
      a.photo(href="http://file.tttalk.org/original/{{pic_url}}")
        img(src="http://file.tttalk.org/bmiddle/{{pic_url}}" width="200" height="200")
      a.avatar(href="http://file.tttalk.org/original/{{user_pic}}")
        img(src="http://file.tttalk.org/thumbnail/{{user_pic}}" width="40" height="40")
      | {{fullname}}
      | {{user_id}}
      p {{content}}
      p {{to_content}}
    | {{/each}}

  div(role="main")
    ul#container.tiles-wrap.animated
    #loader
      #loaderCircle
        img(src="images/ajax-loader-line.gif")

  +user-login-dialog
  //- scripts
  if !user
    script(type='text/javascript').
      $('document').ready(function () {
        $(".author-link").click(function(e){
          $("#myModal").modal();
          return false;
        });
      });
  script(src='/js/views/index.js')
