extends ../layouts/default

block content
  script#jplist-template(type="text/x-handlebars-template")
    thead
      tr
        td Resource
        td Text
        td Action
    | {{#each this}}
    tr
      td
        p(class="title") {{resource}}
      td
        p(class="title") {{text}}
      td
        a(href="/resources/{{_id}}") Detail
    | {{/each}}

  // Wrapper
  table#demo(class="table table-striped")
  ul#pagination(class="pagination-sm")

  //- scripts
  script(src='/js/views/resources.js')
