extends ../layouts/default

block content
  script#jplist-template(type="text/x-handlebars-template")
    thead
      tr
        td Role
        td Action
    {{#each this}}
    tr
      td
        p(class="title") {{role}}
      td
        a(href="/roles/{{_id}}") Detail
    {{/each}}

  // Wrapper
  table#demo(class="table table-striped")
  ul#pagination(class="pagination-sm")

  //- scripts
  script(src='/js/views/roles.js')
