extends ../layouts/default

block content
  script#jplist-template(type="text/x-handlebars-template")
    thead
      tr
        td Role
    | {{#each this}}
    tr
      td
        a(href="/roles/{{_id}}") {{role}}
    | {{/each}}

  // Wrapper
  table#demo(class="table table-striped")
  ul#pagination(class="pagination-sm")

  //- scripts
  script(src='/js/views/roles.js')
