extends ../layouts/default
block css
  link(href='https://rawgit.com/enyo/dropzone/master/dist/dropzone.css', rel='stylesheet')

block content
  h1.bigPageTitle Timeline
  script#waterfall-tpl(type="text/x-handlebars-template")
    | {{#each this}}
    .item
      a.photo(href="/user_photos/{{_id}}")
        img(src="http://file.tttalk.org/bmiddle/{{pic_url}}" width="240" height="240")
      .col-sm-12(style="margin-top:10px;padding:0px;")
        .col-sm-12(style="width:20%;float:left;padding:0px;")
          a.avatar(href="/users/{{user_id}}")
            img.img-circle(src="http://file.tttalk.org/thumbnail/{{user_pic}}" width="45" height="45")
        .col-sm-12(style="width:80%;float:right;padding:0px;")
          span.span-text-large{{fullname}}
      .col-sm-12(style="margin-top:10px;padding:0px;")
        img(src="/images/{{lang}}.png" width="25" height="15") 
        span.span-text-medium(style="display:inline;"){{content}}
        | {{#each translate_children}}
        br
        img(src="/images/{{lang}}.png" width="25" height="15")
        span.span-text-medium{{content}}
        | {{/each}}
    | {{/each}}

  .row
    .col-sm-4
    .col-sm-4
      form#myAwesomeDropzone.dropzone(action="/api/uploads")
      form.user-photo(action="/api/user_photos" role="form" style="display:none")
        input#pic_url(name="pic_url" type="hidden")
        textarea.form-control.custom-control(name="content" rows="3" style="resize:none" placeholder="Describe yourself here...")
        #post-user-photo.btn.btn-success(type="submit") Submit
    .col-sm-4
  #container(style="width: 1000px; margin: 0 auto;")

block page-js
  //- scripts
  script(type='text/javascript').
    var entry_point = '/api/user_photos/timeline';

  if !user
    script(type='text/javascript').
      $('document').ready(function () {
        $(".author-link").click(function(e){
          $("#loginModal").modal();
          return false;
        });
      });
  script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
  script(src='/js/views/index.js')
