extends ../layouts/magnific

block css
    link(href='//file.tttalk.org/public/blueimp-file-upload/css/jquery.fileupload.css', rel='stylesheet')

block content

  .panel.panel-default
    .panel-heading= user.username
    .panel-body
      .upload-area.btn-default.fileinput-button
        .glyphicon.glyphicon-plus
        #files.files
        input#fileupload(type="file" name="file" multiple="")
    .panel-footer
      #progress.progress
        .progress-bar.progress-bar-success
block page-js

    script(src='//file.tttalk.org/public/blueimp-file-upload/js/vendor/jquery.ui.widget.js')

    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload.js')
    script(src='//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js')
    script(src='//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload-process.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload-image.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload-audio.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload-video.js')
    script(src='//file.tttalk.org/public/blueimp-file-upload/js/jquery.fileupload-validate.js')

    script(src='/js/views/upload.js')