extends ../layouts/default

block content
  script#jplist-template(type="text/x-handlebars-template")
    {{#each this}}
    div(class="list-item box")
      div(class="img left")
        a(href="//file.tttalk.org/original/{{portrait}}" target="_blank")
          img(src="//file.tttalk.org/thumbnail/{{portrait}}" width="32" height="32")
      div(class="block right")
        p(class="id")
          a(href="/user/{{id}}" target="_blank") {{id}}
        p(class="title") {{username}}
        p(class="fullname") {{fullname}}
    {{/each}}

  // Wrapper
  div#demo(class="box jplist jplist-list-view")
  ul#pagination(class="pagination-sm")

  //- scripts
  script(src='/js/views/users.js')
