extends ../layouts/default

block content
  script#users-template(type="text/x-handlebars-template")
    thead
      tr
        td Portrait
        td Id
        td Username
        td Fullname
    | {{#each this}}
    tr
      td
        a(href="//file.tttalk.org/original/{{portrait}}" target="_blank")
          img(src="//file.tttalk.org/thumbnail/{{portrait}}" width="32" height="32")
      td
        p(class="id")
          a(href="/users/{{_id}}") {{old_id}}
      td
        p(class="title") {{username}}
      td
        p(class="fullname") {{firstName}} {{lastName}}
    | {{/each}}

  // Wrapper
  ul(class="pagination-sm")
  table#demo.table.table-striped
  ul(class="pagination-sm")

  //- scripts
  script(src='/js/views/users.js')
