extends ../layouts/magnific

block content
  script#user-photo-template(type="text/x-handlebars-template")
    .row.cards(style="padding:15px;")
      .col-sm-12(style="background-color:white;text-align:center;padding:15px;")
        img(style="max-width:98%;" src="//file.tttalk.org/original/{{pic_url}}")
        .col-sm-12(style="text-align:left;padding:10px;")
          img.img-circle(src="http://file.tttalk.org/thumbnail/{{user_pic}}" width="60" height="60")
          span.span-text-large{{fullname}} -
          span.span-text-small{{create_date}}
          br
          span.span-text-medium{{content}} {{to_content}}
          br
          | {{#each children}}
          hr
          .col-sm-12(style="text-align:left;")
            img.img-circle(src="http://file.tttalk.org/thumbnail/{{user_pic}}" width="50" height="50")
            span.span-text-large{{fullname}} -
            span.span-text-small{{create_date}}
            br
            span.span-text-medium{{content}} {{to_content}}
            hr
          | {{/each}}

  #user-photo

  //- scripts
  script(type='text/javascript').
    var photo_entry_point = "/api/populars/#{user_photo_id}";
block page-js

  script(src='/js/views/user_photo.js')
