extends ../layouts/default

block content
  script#jplist-template(type="text/x-handlebars-template")
    thead
      tr
        td Portrait
        td Id
        td Username
        td Fullname
        td Action
    {{#each this}}
    tr
      td
        a(href="//file.tttalk.org/original/{{portrait}}" target="_blank")
          img(src="//file.tttalk.org/thumbnail/{{portrait}}" width="32" height="32")
      td
        p(class="id")
          a(href="/users/{{_id}}" target="_blank") {{old_id}}
      td
        p(class="title") {{username}}
      td
        p(class="fullname") {{firstName}} {{lastName}}
      td
        a(href="/users/{{_id}}") Detail
    {{/each}}

  // Wrapper
  table#demo(class="table table-striped")
  ul#pagination(class="pagination-sm")

  //- scripts
  script(src='/js/views/users.js')
