extends ../layouts/magnific

block content
  script#user-photo-template(type="text/x-handlebars-template")
    .row.cards
      .col-sm-6
        a(href="//file.tttalk.org/original/{{pic_url}}" target="_blank")
          img(src="//file.tttalk.org/original/{{pic_url}}")
      .col-sm-6
        p(class="content") {{content}} {{to_content}}
        | {{#each children}}
        .row
          .col-sm-12 {{content}}
        | {{/each}}

  #user-photo

  //- scripts
  script(type='text/javascript').
    var photo_entry_point = "/api/populars/#{user_photo_id}";
block page-js

  script(src='/js/views/user_photo.js')
