mixin photo-upload-dialog
  #uploadModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header(style="padding:35px 50px;")
          button.close(type="button" data-dismiss="modal") &times;
          h4
            span.glyphicon.glyphicon-lock Upload
        .modal-body(style="padding:40px 50px;")
          form(action="/api/user_photos", method="post", enctype="multipart/form-data")
            input(type="text", name="content")
            input(type="file", multiple, name="image")
            button(type="submit", value="Upload") Upload File

        .modal-footer
          button.btn.btn-danger.btn-default.pull-left(type="submit" data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            | Cancel
