mixin photo-upload-dialog
  #uploadModal.modal.fade(role="dialog")

    .modal-dialog
      .modal-content
        .modal-header(style="padding:35px 50px;")
          button.close(type="button" data-dismiss="modal") &times;
          h4
            span.glyphicon.glyphicon-lock Login
        .modal-body(style="padding:40px 50px;")
          .upload-area.btn-default.fileinput-button
          .glyphicon.glyphicon-plus
          #files.files
          input#fileupload(type="file" name="file" multiple="")
          #progress.progress
            .progress-bar.progress-bar-success
        .modal-footer
          button.btn.btn-danger.btn-default.pull-left(type="submit" data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            | Cancel


