include ../mixins/flash-messages

doctype html
html
  head
    if env == 'production'
      script.
        var _sf_startpt=(new Date()).getTime()

    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

    title= title || 'ACL Manager'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdn.bootcss.com/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css', rel='stylesheet')
    link(href="/styles/site.min.css", rel="stylesheet")
    link(href="/style.css", rel="stylesheet")

    block css
    block head
  body: .wrapper

    // //- header
    // header(role='banner').site-header
    //   img(src='/images/keystone-arch.jpg', alt='Keystone demo').sr-only

    nav.navbar
      //- .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-nav-body
        ul.navbar-nav
          each link in navLinks
            li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
          if user
            li: a(href='/logout')= user.username
          else
            li: a(href='/login') Login

    //- scripts
    script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='/js/lib/bootstrap/collapse.js')
    script(src='/js/lib/bootstrap/dropdown.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js')
    script(src='//cdn.bootcss.com/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js')
    script(src='//file.tttalk.org/public/jquery/jquery.twbsPagination.js')

    //- body
    .container
      //- intro
      block intro
      //- messages
      +flash-messages(messages)
      //- content
      block content
    //- footer
    .site-footer: .container.text-center
      p Copyright &copy; 2015 TTTalk.org. All rights reserved.
      p: a(href="https://tttalk.org") @tttalk

    block page-js
