include ../mixins/flash-messages

doctype html
html
  head
    if env == 'production'
      script.
        var _sf_startpt=(new Date()).getTime()

    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

    title= title || 'ACL Manager'
    link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdn.bootcss.com/normalize/3.0.3/normalize.min.css', rel='stylesheet')
    link(href='//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css', rel='stylesheet')
    link(href="/styles/site.min.css", rel="stylesheet")
    link(href="/style.css", rel="stylesheet")

    block css
    block head
  body
    #luka.row
      .col-sm-10
      .col-sm-1
            a.upload-popup(href='/upload') Upload
      .col-sm-1
          if user
            a(href='/profile')= user.username
          else
            a.author-link(href='/login') Login
    //- body
    #page.container.wrapper
      //- intro
      block intro
      //- messages
      +flash-messages(messages)
      //- content
      block content
    //- footer
    .site-footer: .container.text-center
      p Copyright &copy; 2015 TTTalk.org. All rights reserved.
      p: a(href="https://tttalk.org") @tttalk


    //- scripts
    script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js')
    script(src="//cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js")
    script(src="//file.tttalk.org/public/jquery-waterfall-plugin/waterfall.min.js")

    block page-js
