include ../mixins/flash-messages

doctype html
html
  head
    if env == 'production'
      script.
        var _sf_startpt=(new Date()).getTime()

    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

    title= title || 'ACL Manager'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdn.bootcss.com/normalize/3.0.3/normalize.min.css', rel='stylesheet')
    link(href="/style.css", rel="stylesheet")

    block css
    block head
  body

    //- body
    .container
      //- intro
      block intro
      //- messages
      +flash-messages(messages)
      //- content
      block content

    //- scripts
    script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js')
    block page-js
