body {
    font: 16px "Helvetica Neue", Helvetica, Arial;
}
h1 a {
    font-size: 16px;
}

#luka {
    background: #fbfbfb;
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    width: 100%;
    z-index: 104;
    x-border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -webkit-transition: left 0.25s cubic-bezier(0.25, 0, 0.3, 1);
    transition: left 0.25s cubic-bezier(0.25, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body #page {
    padding-top: 45px;
}
#page h1.bigPageTitle {
  text-align: center;
  font-size: 28px;
  color: #999999;
  font-weight: 300;
  margin: 16px 0 0 0;
}
#wrapper {
    padding-left:312px;
    position:relative;
}

#userList {
    margin:0 0 30px 0;
}
#userList table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
#userList table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
#userList table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
#userList table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
#userInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}

fieldset {
    border:0;
    padding:0; margin:0;
}


/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
    background-color: #0BC20B;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    -webkit-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #dedede;
    z-index: -1;
}

/**
 * Grid container
 */
.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
    display: block;
    opacity: 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    cursor: pointer;
    width: 200px;
    padding: 4px;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tiles-wrap.animated li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.tiles-wrap li:hover {
    background-color: #fafafa;
}

.tiles-wrap img {
    display: block;
}

.tiles-wrap a {
    color: #555;
    text-align: center;
    /* display: table-cell; */
    width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.tile-loading:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ddd;
    content: "Loading\2026";
    padding-top: 20px;
    color: #999;
}

/**
 * Filters
 */
#filters {
    list-style-type: none;
    text-align: center;
    margin: 0 5% 0 5%;
}

#filters:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#filters li {
    font-size: 12px;
    float: left;
    padding: 6px 8px 4px;
    cursor: pointer;
    margin: 0 10px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#filters li:hover {
    background: #4281f5;
    color: #ffffff;
}

#filters li.active {
    background: #4281f5;
    color: #ffffff;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }


/*
 * header
 */
#header {
    position: relative;
    z-index: 99997;
    height: 38px;
        padding: 0 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0dede;
    background-color: #f7f7f7;
    background: linear-gradient(#fff, #f7f6f5);
    background: -moz-linear-gradient(#fff, #f7f6f5);
    background: -o-linear-gradient(#fff, #f7f6f5);
    background: -webkit-linear-gradient(#fff, #f7f6f5);
    box-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
    -moz-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
    -webkit-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
}
#header h1 {
    font-size: 16px;
    line-height: 38px;
    margin: 0;
}

/*
 * waterfall
 */
.item {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 270px;
    padding: 15px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
}
.item img {
    display: block;
}

.item:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #979797, direction = 135, strength = 3);
}

#trigger {
        padding: 10px 30px 20px 30px;
}
#trigger a { margin-right: 30px;}

/*
 * page-navigation
 */
#page-navigation {
        text-align: center;
        padding: 20px 0 50px 0;
    display: none;
}
#page-navigation a {
        width:32px;
        height: 32px;
        line-height: 32px;
        display: inline-block;
        border: 1px #e4e4e4 solid;
        text-decoration: none;
}
#page-navigation .page-navigation-prev, #page-navigation .page-navigation-next {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        width: 80px !important;
}
#page-navigation a:hover {
        border: 1px #c30 solid;
        background: #c30;
        color: #fff;
}
#page-navigation a:active {
}
#page-navigation a.cur {
        border: 1px #c30 solid;
        background: #c30;
        color: #fff;
}
#page-navigation span.disabled {
        color: #ccc;
        border: 1px #e4e4e4 solid;
}
.span-text-large {
        color:#000000;
        font-size: 18px;
        padding:10px;
}
.span-text-medium {
        color:#000000;
        font-size: 15px;
        font-weight: bold;
        padding:10px;
}
.span-text-small {
        color:#000000;
        font-size: 10px;
        padding:10px;
}
